[submodule "src/perception_msgs"]
	path = src/perception_msgs
	url = git@github.tamu.edu:AutoDrive-II-Common/perception_msgs.git
[submodule "src/Yolo_object_detection"]
	path = src/Yolo_object_detection
	url = git@github.tamu.edu:AutoDrive-II-Common/Yolo_object_detection.git
[submodule "src/image_converter"]
	path = src/image_converter
	url = git@github.tamu.edu:AutoDrive-II-Common/image_converter.git
[submodule "src/cart"]
	path = src/cart
	url = git@github.tamu.edu:AutoDrive-II-Common/cart.git
